body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: rgb(246, 246, 246);
  font-family: "Ubuntu", sans-serif;
  font-size: 1em;
}

#formElement {
  display: none;
}

.main {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

h1 {
  color: rgb(154, 154, 154);
  padding: 1em;
  margin: 0;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: rgb(222, 222, 222);
  color: rgb(154, 154, 154);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.navbar ul {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.navbar ul li {
  list-style: none;
  padding: 1em;
  margin: 0;
}
.navbar ul li:hover {
  opacity: 0.7;
}

.navbar ul li a {
  text-decoration: none;
  color: inherit;
}

/* table */
* {
  box-sizing: border-box;
}
table {
  padding: 0.5em;
  text-align: center;
  border: 1px solid;
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

th,
td {
  overflow: hidden;
  white-space: nowrap;
  border-bottom: solid 1px;
  text-overflow: ellipsis;
}

.icon {
  margin: 0;
  border-radius: 5px;
  display: inline-block;
  filter: invert(48%) sepia(0%) saturate(1007%) hue-rotate(135deg)
    brightness(94%) contrast(91%);
}

li a {
  color: white;
}

.icon-button {
  background: none;
  /* color: inherit; */
  border: none;
  padding: 0;
  /* font: inherit; */
  cursor: pointer;
  /* outline: inherit; */
  padding: 2px;
  border-radius: 5px;
}

#del-button:hover {
  filter: invert(42%) sepia(19%) saturate(1919%) hue-rotate(314deg)
    brightness(114%) contrast(99%);
}

/* trash can confirmation */
.navbar.active {
  filter: blur(4px);
  pointer-events: none;
  user-select: none;
}

.main.active {
  filter: blur(4px);
  pointer-events: none;
  user-select: none;
}

#popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: rgba(0, 0, 0, 0.2);
  visibility: hidden;
  opacity: 0;
  background: #fff;
  text-align: center;
  border-radius: 5px;
  z-index: -1;
  width: 15em;
  height: 10em;
  display: flex;
  flex-direction: column;
}

#popup h2 {
  border-bottom: 1px solid rgb(50, 50, 50, 0.1);
  width: 100%;
  padding: 10px;
  margin: 0;
  font-size: 0.9em;
}

#popup.active {
  top: 50%;
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
  z-index: 999;
}

.buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  justify-content: right;
}

.confirm-button {
  border-radius: 10px;
  padding: 0.5em;
  margin-right: 1em;
  width: 25%;
  display: flex;
  justify-content: center;
  background-color: rgb(222, 222, 222);
}

.confirm-button a {
  text-decoration: none;
  width: 100%;
  height: 100%;
  color: rgb(164, 164, 164);
}

#popup p {
  border-bottom: 1px solid rgb(50, 50, 50, 0.1);
  margin: 0;
  color: grey;
  font-size: 0.7em;
  text-align: left;
  padding: 1em;
}
