{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'money_data/style.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/a38fe3c449.js" crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="navbar" id="navbar">
            <ul>
                <li><a href="{% url 'money_data:index' %}">Home</a></li>
                <li><a href="{% url 'money_data:moneylogs' %}">Logs</a></li>
            </ul>
            <ul>
            {% if user.is_authenticated %}
                    <li id="dropdown-li">
                        <div class="dropdown">
                            <button>Hello, {{user.username }}
                                <i class="fa-solid fa-caret-down"></i>
                            </button>
                            <div class="dropdown-content">
                                <a href="{% url 'money_data:data' %}">Data</a>
                                <a href="{% url 'users:logout' %}">Logout</a>
                            </div>
                        </div>
                    </li>
                <!-- <li><a href="{% url 'users:logout' %}">logout</a></li> -->
            {% else %}
                <li><a href="{% url 'users:login' %}">login</a></li>
                <li><a href="{% url 'users:register' %}">register</a></li>
            {% endif %}
            </ul>
        </div>
        {% block content %}{% endblock content %}
        <script type="text/javascript" src="{% static 'money_data/script.js' %}"></script>
    </body>
</html>