{% extends "money_data/base.html" %}

{% block content %}
<div class="main" style="height: 70%;">
    <div style="height: 100%; display: flex; align-items: center;">
        <div class="homepage">
            <div class="headers">
                <h1>Become a pro</h1>
                <div class="subheader">
                    <h2>track your poker earnings and see if you have what it takes to be one of the greats </h2>
                </div>
            </div>
            <div style="padding: 2em;"></div>
            <div class="login-buttons">
                <button>login</button>
                <button>register</button>
            </div>
        </div>
    </div>
</div>
{% endblock content %}